{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block body %}
<main>
      <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Quick Result Programme</h1>
                <p class="lead text-muted">It Involves Mainly Weight Bearing Activities Targeted At Core Muscles Of The Abdomen And Lower Back.
                  Functional Training Attempts To Adapt Or Develop Exercises Which Allow Individuals To Perform The Activities Of Daily Life More Easily And Without Injuries</p>
                <p>
                  {% comment %} <a href="#" class="btn btn-primary my-2 onclick="location.href=">About Us</a> {% endcomment %}
                  <a href=" " onclick="location.href= >
                    <input type="button" class="btn btn-secondary my-2" value="About Us" />
                 </a>
                  <a href="#" class="btn btn-secondary my-2">Join Now!</a>
                </p>
              </div>
            </div>
          </section>
        
          <div class="album py-5 bg-light">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    
                    <img src="http://source.unsplash.com/1400x900/?fitness" class="d-block w-100" alt="...">
        
                    <div class="card-body">
                      <p class="card-text">The Gold’s Gym Fitness Institute GGFI is India’s first International Fitness Management Institute that offers Fitness Training Program.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="http://source.unsplash.com/1400x900/?workout" class="d-block w-100" alt="...">
        
                    <div class="card-body">
                      <p class="card-text"> It offers certificate courses in Fitness Management, Personal Training and Spinning Instructing.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="http://source.unsplash.com/1400x900/?yogagirl" class="d-block w-100" alt="...">
        
                    <div class="card-body">
                      <p class="card-text">Improvement in employee’s mental and physical capacity.Improvement in the employee’s self esteem</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="http://source.unsplash.com/1400x900/?crossfit" class="d-block w-100" alt="...">
        
                    <div class="card-body">
                      <p class="card-text">.Increased physical activity and fitness resulting in a happier state of mind for the employees</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="http://source.unsplash.com/1400x900/?diet" class="d-block w-100" alt="...">
        
                    <div class="card-body">
                      <p class="card-text">Cardiovascular Training, Strength and Circuit Training, Free Weight Training, Massage and Steam</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="http://source.unsplash.com/1400x900/?gym" class="d-block w-100" alt="...">
        
                    <div class="card-body">
                      <p class="card-text">Feeling good or having a good wellness quotient is indicative of better performance at work.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </main>

{% endblock body %}